<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forum_strim</title>
    <link rel="stylesheet" href="/static/css/forums/forum_strim.css">
</head>
<body>
<div class="menu">
    <div class="logo_links">
        <div class="logo">
            <a class="forum_start" href="forum_start.html">GurSd</a>
        </div>
        <div class="links">
            <a class="forum_strim" href="forum_strim.html">Стримы</a>
            <a class="forum_video" href="forum_video.html">Видео</a>
        </div>
        <div class="search" title="Поиск">
            <svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20px" height="20px">
                <path d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747998 16 12.345009 15.348024 13.574219 14.28125 L 14 14.707031 L 14 16 L 20 22 L 22 20 L 16 14 L 14.707031 14 L 14.28125 13.574219 C 15.348024 12.345009 16 10.747998 16 9 C 16 5.1458514 12.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z"/>
            </svg>
            <input type="text">
        </div>
    </div>
    <div class="login">
        <a href="auth.html">
            <div class="auth">Вход/Регистрация</div>
        </a>
    </div>
</div>

<div class="sorting">
    <div class="sort">
        <a href="forum_strim.html">
            <div class="strims">Стримы</div>
        </a>
        <a href="forum_games.html">
            <div class="games">Игры</div>
        </a>
        <a href="forum_game_ganr.html">
            <div class="ganr">Жанры</div>
        </a>
    </div>
    <div class="line_border">
        <div class="border"></div>
    </div>
</div>

<div class="strim_videos">
    <a href="">
        <div class="div_strim_video">
            <div class="strim_foto">
                <div class="quantity_people"></div>
            </div>
            <div class="description">
                <div class="name_game">GTA</div>
                <div class="desc_strim">Собираем лут</div>
                <div class="author">Толяныч</div>
            </div>
        </div>
    </a>

    <a href="">
        <div class="div_strim_video">
            <div class="strim_foto">
                <div class="quantity_people"></div>
            </div>
            <div class="description">
                <div class="name_game">GTA</div>
                <div class="desc_strim">Собираем лут</div>
                <div class="author">Толяныч</div>
            </div>
        </div>
    </a>

    <a href="">
        <div class="div_strim_video">
            <div class="strim_foto">
                <div class="quantity_people"></div>
            </div>
            <div class="description">
                <div class="name_game">GTA</div>
                <div class="desc_strim">Собираем лут</div>
                <div class="author">Толяныч</div>
            </div>
        </div>
    </a>

    <a href="">
        <div class="div_strim_video">
            <div class="strim_foto">
                <div class="quantity_people"></div>
            </div>
            <div class="description">
                <div class="name_game">GTA</div>
                <div class="desc_strim">Собираем лут</div>
                <div class="author">Толяныч</div>
            </div>
        </div>
    </a>

    <a href="">
        <div class="div_strim_video">
            <div class="strim_foto">
                <div class="quantity_people"></div>
            </div>
            <div class="description">
                <div class="name_game">GTA</div>
                <div class="desc_strim">Собираем лут</div>
                <div class="author">Толяныч</div>
            </div>
        </div>
    </a>

    <a href="">
        <div class="div_strim_video">
            <div class="strim_foto">
                <div class="quantity_people"></div>
            </div>
            <div class="description">
                <div class="name_game">GTA</div>
                <div class="desc_strim">Собираем лут</div>
                <div class="author">Толяныч</div>
            </div>
        </div>
    </a>


    <a href="">
        <div class="div_strim_video">
            <div class="strim_foto">
                <div class="quantity_people"></div>
            </div>
            <div class="description">
                <div class="name_game">GTA</div>
                <div class="desc_strim">Собираем лут</div>
                <div class="author">Толяныч</div>
            </div>
        </div>
    </a>


    <a href="">
        <div class="div_strim_video">
            <div class="strim_foto">
                <div class="quantity_people"></div>
            </div>
            <div class="description">
                <div class="name_game">GTA</div>
                <div class="desc_strim">Собираем лут</div>
                <div class="author">Толяныч</div>
            </div>
        </div>
    </a>

    <a href="">
        <div class="div_strim_video">
            <div class="strim_foto">
                <div class="quantity_people"></div>
            </div>
            <div class="description">
                <div class="name_game">GTA</div>
                <div class="desc_strim">Собираем лут</div>
                <div class="author">Толяныч</div>
            </div>
        </div>
    </a>
</div>
</body>
</html>