<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/user_profile.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
<div class="user_site_message">
    <div class="message_user">
        <div class="field_friends">
            <div class="text_message">Сообщения</div>
            <div class="message_list">
                <a href="message_write.html">
                    <div class="user_hover">
                        <div class="user">
                            <div class="user_message_photo"></div>
                            <div class="user_message_name">
                                <span>Vlad</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="field_start_message">
            <div class="create_new_message">
                <svg width="100px" height="100px" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                    <style type="text/css">
                        .st0 {
                            fill: black;
                        }

                        .st1 {
                            fill: white;
                        }
                    </style>
                    <circle class="st0" cx="64" cy="64" r="64"/>
                    <path class="st1"
                          d="M100,37H28c-2.2,0-4,1.8-4,4v42c0,2.2,1.8,4,4,4h20v15.1c0,0.8,0.9,1.3,1.6,0.8L72,87h28c2.2,0,4-1.8,4-4V41  C104,38.8,102.2,37,100,37z"/>
                </svg>
            </div>
            <div class="text_for_start_message">
                <span class="can">Выберите пользователя, чтобы начать диалог</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>