<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/user_profile.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
<div class="user_site_message">
    <div class="message_user">
        <div class="field_friends">
            <div class="text_message">Сообщения</div>
            <div class="message_list">
                <a href="message_write.html">
                    <div class="user_hover">
                        <div class="user">
                            <div class="user_message_photo"></div>
                            <div class="user_message_name">
                                <span>Vlad</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="field_enter_message">
            <div class="user_visit_online">
                <div class="user_name_photo_online">
                    <div class="online_photo_name">
                        <div class="user_online_photo"></div>
                        <div class="user_online_name">
                            <span>Vlad</span>
                        </div>
                    </div>
                    <div class="be_online">
                        <span>В сети 1ч. назад</span>
                    </div>
                </div>
            </div>
            <div class="field_show_message"></div>
        </div>
    </div>
</div>
</body>
</html>